* {
    margin: 0;
    padding: 0;
    
}

.dark-mode {
    background-color: black;
    color: white;
  }

h1 {

    align-items: center;
    text-align: center;
}

.top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top label{
    left: 40%;
    align-items: flex-end;
}

.upper {
    margin: 4rem 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.upper textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

#style {
    margin-bottom: 2rem;
}

form .lower {
    align-items: center;
    text-align: center;
}

.btn{
    margin: 0 1rem;
}

/* toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  /* new notes */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 3px 5px;
    height: 100px;
    background: #cc3300;
    color: white;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 5px 0 0 5px;
    word-wrap: initial;
    width: 100px;
    vertical-align: top;
}
div {
    display: inline-block;
}
.item {
    width: 100%;
    height: 100%;
}
.delete {
  font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}